@import url('https://fonts.googleapis.com/css?family=Oswald|Raleway');

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.flex-container {
  width: 200%;
  height: 200px;
  background-color: transparent;
  border-style: solid;
  display: flex;
}

.intro {
  width: 100%;
  height: 830px;
  background: url(fruit.jpg);
  margin: auto;
  display: table;
  top: 0;
  background-size: cover;
}

.intro2 {
  width: 100%;
  height: 100%;
  background: url(blackcorn.jpg);
  margin: auto;
  display: table;
  top: 0;
  background-size: cover;
}

.intro3 {
  width: 100%;
  height: 100%;
  background: url(sky.jpg);
  margin: auto;
  display: table;
  top: 0;
  background-size: cover;
}

.intro .inner {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  max-width: none;
}

.intro2 .inner2 {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  max-width: none;
}

.content {
  max-width: 500px;
  margin: 0 auto;
  text-align: center;
}

.content h1 {
  font-family: 'Raleway', sans-serif;
  color: rgb(255, 255, 0);
  text-shadow: 0px 0px 300px #000;
  font-size: 500%;
}

.content h2 {
  font-family: 'Raleway', sans-serif;
  color: rgb(255,255, 255);
  text-shadow: 1px 1px 10px #000;
  font-size: 500%;
}

.button {
  border-radius: 9px;
  font-family: 'Oswald', sans-serif;
  color: #353333;
  font-size: 135%;
  padding: 10px 20px;
  border: solid #353333 3px;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button:hover {
  color: #fff;
  border: solid #fff 3px;
  background-color: rgb(0, 0, 0, 0.2);
}

p {
  font-family: 'Raleway', sans-serif;
  color: black;
  text-shadow: 0px 0px 300px #000;
  font-size: 150%;
}

@media screen and (max-width: 768px {
  .content h1 {
    font-size: 250%;
  }
  .button {
    font-size: 110%;
    padding: 7px 15px;
  }
  p {
    font-size: 100%;
    line-height: 160%;
  }
}
